body {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}

label {
  width: 100px;
}

input {
  width: 350px;
  padding: 5px;
  font-size: 16px;
  display:block;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

p {
  font-size: 12px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.main-panel {
  float:left;
  margin-left: 6%;
  margin-right: 6%;
}
